<div class="container" ng-controller='UserController as user'>
    <div class="row">
	    <div class="col-sm-6 col-md-4 col-md-offset-4">
	    <h1>Signup</h1> <br/>
	       <form type='text' class="form-signin" ng-submit='user.signupUser()'>
				Username: <input type='text' class="form-control" ng-model='user.userData.username'> <br/>
				Password: <input type='password' class="form-control" ng-model='user.userData.password'> <br/>
				Name: <input type='text' class="form-control" ng-model='user.userData.name'> <br/>
				<button type='submit' class="btn btn-danger btn-bg">Signup</button>
			</form>
</div>